extends layout

block content
	div.area-alt
		h2 Add Horse
		form(action="add-horse" method="POST").horse-sub-grid
			div.area
				h3 Details
				div.form-group
					label(for="name") Name:
					input(
						type="text"
						required
						id="name"
						name="name"
					).form-control
				div.form-group
					label(for="breed") Breed:
					input(
						type="text"
						required
						id="breed"
						name="breed"
					).form-control
				div.form-group
					label(for="colour") Colour:
					input(
						type="text"
						required
						id="colour"
						name="colour"
					).form-control
				div.form-group
					label(for="gender") Gender:
					input(
						type="text"
						required
						id="gender"
						name="gender"
					).form-control
				div.form-group
					label(for="age") Age:
					input(
						type="number"
						required
						id="age"
						name="age"
						max="80"
						min="0"
					).form-control
				div.form-group
					label(for="weight") Weight (KG):
					input(
						type="number"
						required
						id="weight"
						name="weight"
						max="1600"
						min="30"
					).form-control
				div.form-group
					label(for="height") Height (CM):
					input(
						type="text"
						required
						id="height"
						name="height"
						max="300"
						min="30"
					).form-control
				div.form-group
					label(for="chipData") Chip-data:
					input(
						type="text"
						id="chipData"
						name="chipData"
					).form-control
			div.area
				h3 Admission
				div.form-group
					label(for="date") Admission Date:
					input(
						type="date"
						required
						id="date"
						name="date"
						min="1900-01-01"
					).form-control
				div.form-group
					label(for="finder") Found by:
					input(
						type="text"
						required
						id="finder"
						name="finder"
					).form-control
					div.form-group
					label(for="owner") Owner:
					input(
						type="text"
						id="owner"
						name="owner"
					).form-control
				div.form-group
					label(for="condition") Condition:
					select(
						required
						id="condition"
						name="condition"
					).form-control
						option(value="Healthy") Healthy
						option(value="Stable") Stable
						option(value="Critical") Critical
				div.form-group
					label(for="notes") Notes:
					input(
						type="textarea"
						id="notes"
						name="notes"
					).form-control
				div.form-group
					label(for="treatment") Treatment:
					input(
						type="text"
						id="treatment"
						name="treatment"
					).form-control
				div.form-group
					label(for="carer") Carer:
					select(
						required
						id="carer"
						name="carer"
					).form-control
						each carer in carers
							option(value=carer.firstName + " " + carer.lastName) 
								=carer.firstName + " " + carer.lastName + " (" + carer.username + ")"
			div.right-align.button-group
				a.btn.btn-light(href="/") Cancel
				input(type="submit" value="Submit").btn.btn-primary
	script.
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		if(dd<10){
		dd='0'+dd
		}
		if(mm<10){
		mm='0'+mm
		}
		today = yyyy+'-'+mm+'-'+dd;
		document.getElementById("date").setAttribute("max", today);
		document.getElementById("date").setAttribute("value", today);