extends layout

block content
	each hors in horse
		table.table.table-striped

				tr
					th ID
					td= hors.HorseID
				tr
					th Name
					td= hors.Name
				tr
					th Owner
					td= hors.Owner
				tr
					th Micro-Chip
					td= hors.mircochipCode
				tr
					th Breed
					td= hors.Breed	
				tr
					th Colour
					td= hors.Colour
				tr
					th Gender
					td= hors.Gender
				tr
					th Weight
					td= hors.Weight
				tr
					th Height
					td= hors.Height
				tr
					th Description
					td= hors.Note
				tr
					th Admission Date
					td= hors.AdmissionDate
				tr
					th Condition
					td= hors.HorseCondition
				tr
					th Treatment
					td= hors.treatment
				tr
					th Carer
					td= hors.carer
				tr
					th Notes
					td= hors.Note
				tr
					th Treatment
					td= hors.treatment