extends layout

block content
	div.area.horse-sub-grid
		table.table.table-striped
			each horse in horses
				tr
					th ID
					td= horse.HorseeID
				tr
					th Name
					td= horse.Name
				tr
					th Owner
					td= horse.Owner
				tr
					th Micro-Chip
					td= horse.mircochipCode
				tr
					th Breed
					td= horse.Breed	
				tr
					th Colour
					td= horse.Colour
				tr
					th Gender
					td= horse.Gender
				tr
					th Weight
					td= horse.Weight
				tr
					th Height
					td= horse.Height

		table.table.table-striped
			each horse in horsee
				tr
					th Description
					td= horse.Note
				tr
					th Admission Date
					td= horse.AdmissionDate
				tr
					th Condition
					td= horse.HorseCondition
				tr
					th Treatment
					td= horse.treatment
				tr
					th Carer
					td= horse.carer
				tr
					th Notes
					td= horse.Note
				tr
					th Treatment
					td= horse.treatment
		div.right-align.button-group
			a.btn.btn-light(href="/") Cancel
			input(type="submit" value="Update").btn.btn-primary