extends layout

block content
	table.table.table-striped
		tr
			th ID
			td= horse.id
		tr
			th Description
			td= horse.description
		tr
			th Date
			td= horse.date
		tr
			th Condition
			td= horse.condition
		tr
			th Treatment
			td= horse.treatment
		tr
			th Carer
			td= horse.carer
		tr
			th Notes
			td= horse.notes