extends layout

block content
	div.area.horse-sub-grid
		table.table.table-striped
			each horse in horses
				tr
					th ID
					td= horse.HorseID
				tr
					th Name
					td= horse.Name
				tr
					th Owner
					td= horse.Owner
				tr
					th Micro-Chip
					td= horse.mircochipCode
				tr
					th Breed
					td= horse.Breed	
				tr
					th Colour
					td= horse.Colour
				tr
					th Gender
					td= horse.Gender
				tr
					th Weight
					td= horse.Weight
				tr
					th Height
					td= horse.Height

		form(action="update" method="POST")
			table.table.table-striped
				each horse in horses
					tr
						th Description
						td
							input(
								type="text"
								id="note"
								name="note"
								value= horse.Note
							).form-control
							
					tr
						th Admission Date
						td= horse.AdmissionDate
					tr
						th Condition
						td= horse.HorseCondition
					tr
						th Treatment
						td= horse.treatment
					tr
						th Carer
						td= horse.carer
					tr
						th Notes
						td= horse.Note
					tr
						th Treatment
						td= horse.treatment
			div.right-align.button-group
				a.btn.btn-light(href="/") Cancel
				input(type="submit" value="Update").btn.btn-primary