extends layout

block content


	div.area.horse-sub-grid
		table.table.table-striped
			each horse in horses
				tr
					th ID
					td= horse.HorseID
				tr
					th Name
					td= horse.Name
				tr
					th Owner
					td= horse.Owner
				tr
					th Micro-Chip
					td= horse.mircochipCode
				tr
					th Breed
					td= horse.Breed	
				tr
					th Colour
					td= horse.Colour
				tr
					th Gender
					td= horse.Gender
				


		form(action="update" method="POST")
			table.table.table-striped
				each horse in horses
					tr
						th Notes
						td
							input(
								type="text"
								id="note"
								name="note"
								value= horse.Note
							).form-control
							
					tr
						th Admission Date
						td= horse.AdmissionDate
					tr
					
					th Condition
						td
							input(
								type="text"
								id="Condition"
								name="Condition"
								value= horse.HorseCondition
							).form-control
						
					tr
						th Treatment
						td
							input(
								type="text"
								id="Treatment"
								name="Treatment"
								value= horse.treatment
							).form-control
						
					tr
						th Carer
						td
							input(
								type="text"
								id="Carer"
								name="Carer"
								value= horse.carer
							).form-control
						
					tr
						th Weight
						td
							input(
								type="text"
								id="Weight"
								name="Weight"
								value= horse.Weight
							).form-control
							
					tr
						th Height
						td
							input(
								type="text"
								id="Height"
								name="Height"
								value= horse.Height
							).form-control
				

					
					
			div.right-align.button-group
				a.btn.btn-light(href="/") Cancel
				input(type="submit" value="Update").btn.btn-primary
