extends layout

block content
	div.area
		h2 Horses

		form(action="search" method="POST").form-inline.search-form
			div.form-group
				input(
					type="text"
					id="search"
					name="search"
					placeholder="Search"
					onKeyPress="Search"
				).form-control
			
			input(type="submit" value="Search").btn.btn-primary


		table.table.table-striped
			thead.thead-dark
				th Name
				th Age
				th Description
				th Condition
				th Admission Date
				th Discharge Date
				th

			each horse in horses
				tr
					td= horse.Name
					td= horse.Age
					td= horse.Note
					td= horse.HorseCondition
					td= horse.AdmissionDate
					td= horse.DischargeDate
					td 
						a(href="horse/"+horse.HorseID) Details
						
						