extends layout

block content

	h2.area-alt Reports

	div.area.sub-grid
		div.area
			h3 Horses on premise
			h4=horseDurationPoint[horseDurationPoint.length - 2]
		div.area
			h3 Average Duration
			h4=HorseAverageStay[1] + ' Days'

		div.area
			h3 Horse Conditions
			table.table.table-sm
				each horseCond in horseCondition
					tr
						td=horseCond[0]
						td=horseCond[1]
		div.area
			h3 Carer
			table.table.table-sm
				each Carer in HorsePerCarer
					tr
						td=Carer.Carer
						td=Carer.numberOfHorses
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
	div.area
		canvas#myChart(width='100' height = '30')
		

	script.
			
			
			var TimePoint = JSON.parse('!{horseTimePoint}');
			var horsePoint = JSON.parse('!{horseDurationPoint}');   			
			var ctx = document.getElementById('myChart').getContext('2d');
			ctx.fillRect(0, 0, 4, 4);
			var myChart = new Chart(ctx, {
			
				type: 'line',
				data: {

					labels: TimePoint,
					datasets: [{

						label: 'Number of horses',
						data: horsePoint,

						backgroundColor: [

							'rgba(255, 159, 64, 1)'

						],
						borderColor: [
							'rgba(255, 99, 132, 1)'
							
						],
						borderWidth: 1
					}]
				},
				
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
			});
			